<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/e0a5611951.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>
        <section class="languages">
            <ul class="languages_list">
                <li class="changeLanguage"><i class="fa-solid fa-language" style="color: #ffffff;"></i></li>
                <li class="english">EN</li>
                <li class="portuguese">PT-BR</li>
            </ul>
        </section>
    </header>

    <main>
        <section class="apresentation_texts">
            <h1>Hi</h1>
            <h2 class="apresentationH2">My name is</h2>
            <h2 class="myName">Rhuan Henrique</h2>
            <h3>and i'm a fullstack developer.</h3>
        </section>
    </main>

    <footer>
        <section class="info">
            <nav>
                <button class="info_btn" id="aboutMe_btn">about me</button>
                <button class="info_btn" id="myProjects_btn">my projects</button>
                <button class="info_btn" id="contacts">contact</button>
            </nav>
        </section>
    </footer>

    <div class="cursorCircle"></div>

    <section class="main__aboutme">
        <div class="aboutme__container">
            <i class="fa-solid fa-circle-xmark x_iconaboutme"></i>
            <div class="aboutme__content">
                <h2 class="sobremim__title">Sobre mim</h2>
                <p class="aboutme__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sapiente consequatur perferendis dolores quod sunt eveniet aspernatur nulla, pariatur corrupti dolorem repellat deleniti harum magni nam autem consequuntur commodi animi esse, nisi architecto labore libero illo non. Eaque explicabo nesciunt, ut voluptates illum iste! Aspernatur nihil hic quo perspiciatis sunt!</p>
            </div>
        </div>
    </section>

    <section class="main__myProjects">
        <div class="myProjects__container">
            <i class="fa-solid fa-circle-xmark x_iconmyprojects"></i>
            <div class="myProjects__content">
                <h2 class="myProjects__title">My projects</h2>

                <div class="projects__container">
                    <a href="https://celadon-hotteok-9f0fb5.netlify.app/" class="project__content">
                        <div class="img_projeto">
                            <img src="images/pagina_de_vendas.jpg" alt="" />
                        </div>
                        <h2 class="imgtitle__text" id="h1_ebook_project">Página de vendas para lançamento</h2>
                        <div class="paragraths__project">
                            <p class="imgproject__text" id="p1_about_ebook_project">Essa página foi criada com o objetivo de promover um e-book. Onde aconteceria uma campanha, rodando tráfego pago no Facebook ADS apontando para essa página.</p>
                            <p class="tech__project" id="p2_tech_ebook_project">Tecnologias usadas: HTML, CSS e JavaScript</p>
                        </div>
                    </a>
                    <a href="https://jf-construcoes.onrender.com/" class="project__content">
                        <div class="img_projeto">
                            <img src="images/jf_construcoes.jpg" alt="" />
                        </div>
                        <h2 class="imgtitle__text" id="h1_eccomerce_project">E-commerce com paínel de admin</h2>
                        <div class="paragraths__project">
                            <p class="imgproject__text" id="p1_about_ecomerce_project">Um e-commerce onde o proprietário da loja (jf-construções) consegue criar promoções, produtos e adicionar novidades da loja pelo banner principal.</p>
                            <p class="tech__project" id="p2_tech_ecommerce_project">Tecnologias usadas: HTML, CSS, JavaScript, NodeJS, MongoDB e Cloudinary (que não é uma tecnologia mas foi usado para o armazenamento de imagens na nuvem).</p>
                        </div>
                    </a>
                    <a href="https://chat-interativo-1.onrender.com/" class="project__content">
                        <div class="img_projeto">
                            <img src="images/chat_interativo.jpg" alt="" />
                        </div>
                        <h2 class="imgtitle__text" id="h1_chat_project">Chat interativo</h2>
                        <div class="paragraths__project">
                            <p class="imgproject__text" id="p1_about_chat_project">Um chat (igual ao whatsapp mesmo!) que facilita a conversa em tempo real entre duas ou mais pessoas.</p>
                            <p class="tech__project" id="p2_tech_chat_project">Tecnologias usadas: HTML, CSS, JavaScript, NodeJS e Socket.io</p>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </section>

    <section class="main__contact" <% if(nomeInput != ''|| emailInput != '' || text__areaInput != '') { %> style="top: 0vh;" <% } %>>
        <div class="myContact__container">
            <i class="fa-solid fa-circle-xmark x_iconcontact"></i>
            <h2 class="contact__title">Contacts</h2>
            <div class="contact__container">
                <div class="contact__content">
                    <form  action="/email_enviado" method="post" class="form__contact">
                        <input type="text" name="nome" id="nome" placeholder="Your name"  />
                        <input type="email" name="email" id="email" placeholder="Your e-mail" />
                        <textarea name="text__area" id="text__area" cols="30" rows="10" placeholder="Message"></textarea>
                        <button class="btnEnviar">Send</button>
                        <% if(nomeInput != ''|| emailInput != '' || text__areaInput != '') { %><p class="campo__erro_contato">Fill in all fields</p><% } %>
                    </form>
                </div>
            </div>
            <div class="social_media">

            </div>
        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>