<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/e0a5611951.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>
        <section class="languages">
            <ul class="languages_list">
                <li class="changeLanguage"><i class="fa-solid fa-language" style="color: #ffffff;"></i></li>
                <li class="english">EN</li>
                <li class="portuguese">PT-BR</li>
            </ul>
        </section>
    </header>

    <main>
        <section class="apresentation_texts">
            <h1>Hi</h1>
            <h2 class="apresentationH2">My name is</h2>
            <h2 class="myName">Rhuan Firmino</h2>
            <h3>and i'm a fullstack developer.</h3>
        </section>
    </main>

    <footer>
        <section class="info">
            <nav>
                <button class="info_btn" id="aboutMe_btn">about me</button>
                <button class="info_btn" id="myProjects_btn">my projects</button>
                <button class="info_btn" id="contacts">contact</button>
            </nav>
        </section>
    </footer>

    <div class="cursorCircle"></div>

    <section class="main__aboutme">
        <div class="aboutme__container">
            <i class="fa-solid fa-circle-xmark x_iconaboutme"></i>
            <div class="aboutme__content">
                <h2 class="sobremim__title">About me</h2>
                <p class="aboutme__text">My name is Rhuan Firmino, and I have been developing systems since 2021.
                    <br><br>When I was 16, I became interested in technology and what I could build with it. Since 2021, I have been developing systems.

                    <br><br>In 2023, I started working professionally as a fullstack developer at Sinqia, which is now Evertec Brasil. At Evertec, I participated in several projects for a full banking system, with major clients such as Santander, Itaú, Bank of America, Banco Votorantim, Deutsche Bank, among other large financial institutions operating in Brazil.

                    <br><br>At Evertec, I work on several important projects, where it is necessary to work with:

                    <br><br>- Transforming business requirements into code;
                    <br><br>- Support/monitoring the deployment of new features to the client's environment - on-premise/saas;
                    <br><br>- System integration;
                    <br><br>- Queues;
                    <br><br>- Unit testing;
                    <br><br>- Development of new features;
                    <br><br>- Accelerating development through AI;

                    <br><br>At Evertec, my main tools are: .Net (Core/Framework), C#, ASP.NET, APSX, AngularJS, TypeScript, RabbitMQ, Kafka, SQL Server, Oracle SQL, Jenkins, TFS, GIT, GitHub Copilot.
                </p>
            </div>
        </div>
        <div class="medias">
            <a class="icon_media" href="https://github.com/rhuan05"><i class="fa-brands fa-github" style="color: #000000;"></i></a>
            <a class="icon_media" href="https://www.linkedin.com/in/rhuan-henrique/"><i class="fa-brands fa-linkedin-in" style="color: #000000;"></i></a>
        </div>
    </section>

    <section class="main__myProjects">
        <div class="myProjects__container">
            <i class="fa-solid fa-circle-xmark x_iconmyprojects"></i>
            <div class="myProjects__content">
                <h2 class="myProjects__title">My projects</h2>

                <div class="projects__container">
                    <div class="sroll_for_phone">
                        <a href="https://quizquest-ppzw.onrender.com/" class="project__content" class="app_flex">
                            <div class="img_projeto">
                                <img src="/images/quiz_quest.png" alt="" />
                            </div>
                            <div class="paragraths__project">
                                <p class="imgproject__text" id="p1_about_quizQuest_project">A Duolingo for programmers, featuring 10 questions about key JavaScript concepts. Each question comes with its own explanation, and at the end, you receive instant and personalized feedback.</p>
                                <p class="tech__project" id="p2_tech_quizQuest_project">Technologies used: ReactJS, NodeJS, SQL</p>
                            </div>
                        </a>
                        <a href="https://celadon-hotteok-9f0fb5.netlify.app/" class="project__content" class="app_flex">
                            <div class="img_projeto">
                                <img src="/images/pagina_de_vendas.jpg" alt="" />
                            </div>
                            <div class="paragraths__project">
                                <p class="imgproject__text" id="p1_about_ebook_project">This page was created with the aim of promoting an e-book. Where a campaign would take place, running paid traffic on Facebook ADS pointing to that page.</p>
                                <p class="tech__project" id="p2_tech_ebook_project">Technologies used: HTML, CSS and JavaScript</p>
                            </div>
                        </a>
                        <a href="https://loja-jfconstru-es.onrender.com" class="project__content" class="app_flex">
                            <div class="img_projeto">
                                <img src="/images/jf_construcoes.jpg" alt="" />
                            </div>
                            <div class="paragraths__project">
                                <p class="imgproject__text" id="p1_about_ecomerce_project">An e-commerce where the store owner (jf-construções) can create promotions, products and add store news through the main banner.</p>
                                <p class="tech__project" id="p2_tech_ecommerce_project">Technologies used: NodeJS, MongoDB, HTML, CSS, JavaScript, and Cloudinary (which is not a technology but was used for storing images in the cloud).</p>
                            </div>
                        </a>
                        <a href="https://chat-gh2p.onrender.com/" class="project__content">
                            <div class="img_projeto" id="imgChat_interativo">
                                <img src="/images/chat_interativo.jpg" alt="" />
                            </div>
                            <div class="paragraths__project">
                                <p class="imgproject__text" id="p1_about_chat_project">A chat (just like whatsapp!) that facilitates real-time conversation between two or more people.</p>
                                <p class="tech__project" id="p2_tech_chat_project">Technologies used: HTML, CSS, JavaScript, NodeJS and Socket.io</p>
                            </div>
                        </a>
                    </div>
                    <div class="arrows_phone">
                        <i class="fa-solid fa-circle-chevron-down" id="arrow_left" style="color: #000000;"></i>
                        <i class="fa-solid fa-circle-chevron-down" id="arrow_right" style="color: #000000;"></i>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="main__contact" <% if(nomeInput != ''|| emailInput != '' || text__areaInput != '' || send_mail != '') { %> style="top: 0vh;" <% } %>>
        <div class="myContact__container">
            <i class="fa-solid fa-circle-xmark x_iconcontact"></i>
            <h2 class="contact__title">Contact</h2>
            <div class="contact__container">
                <div class="contact__content">
                    <form  action="/email_enviado" method="post" class="form__contact">
                        <input type="text" name="nome" id="nome" placeholder="Your name"  />
                        <input type="email" name="email" id="email" placeholder="Your e-mail" />
                        <textarea name="text__area" id="text__area" cols="30" rows="10" placeholder="Message"></textarea>
                        <button class="btnEnviar">Send</button>
                        <% if(nomeInput != ''|| emailInput != '' || text__areaInput != '') { %><p class="campo__erro_contato">Fill in all fields</p><% } %>
                        <% if(send_mail != '') { %><p class="email_enviado">Email successfully sent!</p><% } %>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="/script.js"></script>
</body>
</html>